<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Foud</title>
</head>
<body>
    <section class="sec-icons-sup">
        <div class="box1">
            <i class="material-icons" >star</i>
        </div>
        <div class="box2">
            <i class="material-icons" >star</i>
        </div>
        <div class="box3">
            <i class="material-icons" >star</i>
        </div>
        <div class="box4">
            <i class="material-icons" >star</i>
        </div>
        <div class="box5">
            <i class="material-icons" >star</i>
        </div>
    </section>
    <section class="sec-imagem">
        <h1>404</h1>
        <img src="../../../assets/img/Robo.png" alt="">
        <h1>Not Foud</h1>
    </section>
    <section class="sec-icons-sub">
        
    </section>
</body>
</html>